*{
	margin: 0;
	padding: 0;
}
/* CSS Document */
/*contenedor general del titulo dela pagina*/

body
{
	margin:0 auto;
	height: auto;
	min-width: 800px;
}



#divheaderprincipal{
	background-color:antiquewhite;
	
	padding: 80px;
	
	overflow: hidden;
	margin: auto;
	width: auto;
	
}
/*contenedor de logo unad */
#divlogounad{
	background-color: aliceblue;
	padding: 50px;
	width: 300px;
	float: left;
}

img[src ="img/logoUNAD.png"]
{
	height: 100%;
	width: 100%;
}



/*div titulo de la pagina*/
#divheader{
	
	color: #000000;
	text-align: center;
	font-size: 20px;
	background-color:#008FB3;
	float: right;
}



/*contenedor barra de navegacion*/

/*
#divnav{
	padding: 5px 0;
	width: auto;
	display: block;
	clear: both;
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
	background-color:#008FB3;
	
}

*/


#divnavinterno{
	width: absolute;
	padding: 60px;
	margin-left: 1px;
	margin-right: auto;
	background-color:#008FB3;
	clear: both;
	min-width: 700px
	
	
	
}


nav{
	
	
	width: auto;
	height: auto;
}


ul{
	
	list-style: none;
}

ul li a
{
	
	
	
	text-align: center;
	background-color:#008FB3;
	font-size: 15px;
	color: #000;
	display: block;
	padding: 8px;
	text-decoration: none;
	
}

ul li
{
	
	float: left;
	width: 140px;
	
}

ul li ul
{
	display: none;
	position: absolute;
	width: 10px;
	
	
}
ul li:hover > ul 
{
	display:inline;
	
}

/*contenedor principal aside y section*/
#divasidesection{
	background-color: transparent;
	display:flex;
	clear: both;
	margin-left: 10px;
	padding-left: center;
	width: absolute;
	height: absolute;
	
}
#divaside
{
	width: 300px;
	height: 700px;
	display:inline-block;
	float: right;
	
	
}




aside{
	
	background-color: #999999;
	float: left;
	width: 300px;
	height: 700px;
	margin: auto;
	margin-left:auto;
	display: block;
	padding-left: center;
	overflow-y: scroll;
}






#divsection{
	
	width: 100%;
	height:absolute;
	display:inline-block;
	float: right;
}


section{
	
	display: block;
	text-align: right;
	background-color: transparent;
	width: absolute;
	height: 100%;
	margin-top: auto;
	padding-left: center;
	
	
	
	
	
}


footer
{
	text-align: center;
	margin-top: 2px;
	margin: auto;
	padding: 20px;
	
	padding-left: center;
	background-color: #808080;
	height: 80px;
	width: auto;
	
	
}
/*
#divfooter
{
	width: 100%;
	height: auto;
}
*/
p{
	font-size: 30px;
	margin-left: 10px;
	padding: 50px;
	margin-right: 50px;
	text-align: justify;
	
}




#tabla1{
	font-size: 20px;
	text-align: left;
	padding: 20px;
	margin-left: 50px;
	background-color: aliceblue;
	
}


img[src="img/relacion_uno_uno_1_1.png"]
{
	display: block;
	margin: auto;
	height: 80%;
	width: 80%;
	
}
img[src="img/1_a_muchos_relacion.png"]
{
	height: 80%;
	width: 80%;
	display: block;
	margin: auto;
}

img[src="img/relacion_muchos_a_muchos.png"]
{
height: 80%;
	width: 80%;
	display: block;
	margin: auto;
}

img[src="img/entidad.png"]
{
	height: 50%;
	width: 50%;
	display: block;
	margin: auto;
}
img[src="img/simbolo_uno_a_muchos.jpg"]
{
	height: 50%;
	width: 50%;
	display: block;
	margin: auto;
}
img[src="img/simbolo_uno_a_uno.png"]
{
	height: 50%;
	width: 50%;
	display: block;
	margin: auto;
}

#articlecontador{
	text-align: center;
	height: 10%;
	width: 100%;
	display: block;
	margin: auto;
}

#video1
{
	height: 50%;
	width: 50%;
	display: block;
	
}


article1{
	height: 50%;
	width: 50%;
	display: block;
	margin: auto;
}


iframe[src="https://es.educaplay.com/es/recursoseducativos/3322805/html5/diagramaentidadrelacion.htm"]
{
	height: 700px;
	width: 100%;
	
}

iframe[src="https://es.educaplay.com/es/recursoseducativos/3324262/html5/relacionar.htm"]
{
	height: 700px;
	width: 100%;


}

#actividad1{
	height: 90%;
	width: 90%;
	float: left;
	
}


