*{
	margin: 0;
	padding: 0;
}
/* CSS Document */
/*contenedor general del titulo dela pagina*/
#divheaderprincipal{
	background-color:transparent;
	padding: 50px;
	
	
	overflow: hidden;
	margin: auto;
	
}
/*contenedor de logo unad */
#divlogounad{
	background-color: aliceblue;
	padding: 50px;
	width: 400px;
	float: left;
}

img[src ="img/logoUNAD.png"]
{
	height: 100%;
	width: 100%;
}



/*div titulo de la pagina*/
#divheader{
	
	color: #000000;
	text-align: center;
	font-size: 30px;
	background-color:#008FB3;
	float: right;
}







/*
#TituloPagina{
	
	margin: 0 auto;
	color: #000000;
	text-align: center;
	font-size: 40px;
	background-color: darkblue;
	margin-top: 0px;
	padding: 50px 0px;
	
}
*/
body
{

	text-align: left;
	width: auto;
	
}

/*contenedor barra de navegacion*/
#divnav{
	padding: 5px 0;
	width: 100%;
	display: block;
	clear: both;
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
}


#divnavinterno{
	width: 1300px;
	padding: 60px;
	margin-left: auto;
	margin-right: auto;
	
	
	
}


nav{
	
	margin-left: 150px;
}


ul{
	
	list-style: none;
}

ul li a
{
	
	
	
	text-align: center;
	background-color:#008FB3;
	font-size: 20px;
	color: #000;
	display: block;
	padding: 8px;
	text-decoration: none;
	
}

ul li
{
	
	float: left;
	width: 200px;
	
}

ul li ul
{
	display: none;
	position: absolute;
	width: 10px;
	
	
}
ul li:hover > ul 
{
	display:inline;
	
}

/*contenedor principal aside y section*/
#divaside{
	
	display:inherit;
	clear: both;
	
	
}


aside{
	
	background-color: #999999;
	float: left;
	height: 600px;
	
	margin-left:auto;
	display: block;

}

section{
	
	display: block;
	text-align: left;
	background-color: #0033FF;
	height: 600px;
	margin-top: auto;
	
	
	
}

footer
{
	text-align: center;
	margin-top: 2px;
	clear: both;
	padding-left: center;
	background-color: #808080;
	height: auto;
}

article{
	margin-top: 10px;
	margin-left: 300px;
}





